<form method="post" action="/user/editU">
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%user.name%>"/>

    </div>
    <div>
        <label> Email</label>
        <input type="email" name=" email" value="<%user.email%>"/>
    </div>
    <div>
        <label> Avatar</label>
        <img src="">
        <input type="file" accept="image/*"/>
    </div>
    <div>
        <label>UserType</label>
        <input type="text" name=" userType" value="<%user.userType%>"/>
    </div>
</form>