<form method="post" action="/user/updateU" enctype="multipart/form-data" class="col-6" style="margin: 20px;">
    <div>
        <label class="col-6 form-label">Name</label>
        <input type="text" name="name" value="<%= editUser.name %>" class="col-6 form-control"/>
    </div>
    <div>
        <label class="col-6 form-label">Email</label>
        <input type="text" name="name" value="<%= editUser.email %>" disabled class="col-6 form-control"/>
    </div>
    <div>
        <label class="col-6 form-label">User Type</label>
        <select name="userType" class="col-6 form-select" class="col-6 form-select">
            <option value="Admin">Admin</option>
            <option value="shop">Shop</option>
            <option value="customer">Customer</option>
        </select>
    </div> 
    <div style="margin: 20px;">
        <label class="col-6 form-label">User Avatar</label>
        <input type="file" name="avatar" class="col-6 form-image">
    </div>
    <input type="hidden" name="xid" value="<%= editUser._id %>" />
    <button type="submit" class="col- form-control btn btn-secondary">Update Information</button>
</form>