
<form method="post" action="/order/addO"> 
    <div>
      <label> Name</label>
      <input type="text" name="name"/>
    </div>
    <div>
        <label>totalPrice</label>
       <input type="number" name="totalPrice"/>
    </div>
    <div>
        <label>startDate</label>
         <input type="date" name="startDate" step="any"/>
        
    </div>
    <div>
        <label>endDate</label>
        <input type="date" name="endDate"  />
    </div>
    <div>
        <label>product</label>
        <!--product-->
    </div>
   <button type="submit">Creat Order</button>
</form>