
<form method="post" action="/product/addP"> 
   
    <div>
      <label>Product Name</label>
      <input type="text" name="name"/>
    </div>
    <div>
        <label>Description</label>
        <textarea name="description"></textarea>
    </div>
    <div>
        <label>Price $</label>
         <input type="number" name="Price" step="any"/>
        
    </div>
    <div>
        <label>Quantity</label>
        <input type="number" name="quantity"  min="1" max="20"/>
    </div>
    <div>
        <label>Category</label>
        <select name="category">
            <option value="building">Building</option>
            <option value="using">Using</option>
            <option value="basing">Basing</option>
        </select>
    </div>
    <div>
        <label>Details</label>
        <textarea name="details"></textarea>
    </div>
    <button type="submit" class="col-6 form-control btn btn-secondary">Create Product</button>
</form>