

<form> 
    <div>
      <label>Product Name</label>
      <input type="text" name="name"/>
    </div>
    <div>
        <label>Description</label>
        <textarea name="description"></textarea>
    </div>
    <div>
        <label> Price</label>
         <input type="number" name="Price" step="any"/>
        <span class="input-group-text">$</span>
    </div>
    <div>
        <label>Quantity</label>
        <input type="number" name="quantity"  min="1" max="20"/>
    </div>
    <div>
        <label>Category</label>
        <select name="category[]">
            <option value=""> </option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <div>
        <label>Details</label>
        <textarea name="details"></textarea>
    </div>
</form>