<div class="container">
    <div class="row">
        <div class="col-6 col-sm-8 col-lg-6">
            <img src="/images/under-construction.webp" alt="frontPage" style="height: 100%; width: 100%;"/>
        </div>
        <div class="col-6 col-sm-8 col-lg-6">
         <h5>The Shop you only need!</h5>
         <br>
         <p style="text-align: justify;">
            welcome to our online constraction tools Shops! As a trusted supplier in the industry,we bring you a wide selection of high-quality tools and equipment for all your constraction needs. With years of exsperice, we have established ourselves as a reliable source for contractors, and builders, precision meauring instruments, professional hand tools, safety equipment,and various construction site accessories. We pride ourselves on offering competitive prices without compromising on quality. Shop with us and experience the convenience of finding top-notch tools delivered right to your doorstep.Start building with confidence today!
        </p>
        </div>
       
      </div>
</div>
