<div class="container">
    <div class="row">
        <div class="col-6 col-sm-8 col-lg-6">
            <img src="/images/under-construction.webp" alt="frontPage" style="height: 100%; width: 100%;"/>
        </div>
        <div class="col-6 col-sm-8 col-lg-6">
         <h5>The Shop you only need!</h5>
        </div>
      </div>
</div>
