

    <div>
       <h3 <%= shop.name %>></h3>
    </div>
    <div>
        <%= shop.email %>
    </div>
    <div>

        <%= shop.phoneNumber %>
    </div>
    <div>
        <%= shop.address %>
    </div>
    <!--product-->
    

