
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>PhoneNumbe</th>
        <th>Address</th>
         <!--product-->
    </tr>
    <tr>
        <td><%= shop.name %></td>
        <td><%= shop.email %></td>
        <td><%= shop.phoneNumber %></td>
        <td><%= shop.address %></td>
    </tr>
    
</table>